button {
    width:250px ;
    height:100px;
    border: color#fff;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Sans-serif;
    padding: 12px 16px;
    border-radius: 100px;
   background-color:#2196F3;}
   .vir{text-align: center;}

 